<%- include("./partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="padding: 15px; color: #DB5B43; font-weight: 500; font-size: 3rem;" class="    text-capitalize">about
            me</h1>
    </div>


    <div class="row">
        <img id="portrait" class="col-6" src="/images/person.jpeg" alt="Me">
        <p style="color: #868383;" class="col-6">Hello! My name is Keshav Thakur, and I'm a web developer and an intern at Trilyo here in Bangalore, Karnataka.
        
        I think it's important to help make the internet a beautiful place, whether that be through words, photography, or web
        design.
        
        I also think it's important to push yourself and learn one new thing every day, no matter what that may be.

        I love to explore new cities, meet new people, have new experiences play video games, smoke some good stuff, and sit
        outside all night
        

        <br><br>
        E-Mail: keshavthakur.001@gmail.com</p>
    </div>
</div>


<%- include("./partials/footer") %>