<%- include("./partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="padding: 15px; color: #DB5B43; font-weight: 500; font-size: 3rem;" class="    text-capitalize">about
            me</h1>
    </div>


    <div class="row">
        <img id="portrait" class="col-6" src="/images/person.jpeg" alt="Me">
        <p style="color: #868383;" class="col-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nobis rerum, natus explicabo fugit est quasi sapiente error accusantium consectetur ullam facere, iusto inventore voluptates repellat asperiores saepe, nostrum corrupti?
        Minima vitae, quidem asperiores commodi quo natus laborum dicta itaque, culpa optio iste deserunt deleniti facere! Vero quaerat nulla aut, vel minima, reiciendis debitis quidem quis vitae sit aspernatur aperiam.
        Dolorum illo tenetur quidem, reiciendis perferendis dolorem laboriosam ad earum, saepe dolore aspernatur totam eaque, cumque facere quis ipsam at maxime blanditiis ut

        uidem asperiores commodi quo natus laborum dicta itaque, culpa optio iste deserunt deleniti facere! Vero quaerat nulla
        aut, vel minima, reiciendis debitis quidem quis vitae sit aspernatur aperiam.
        Dolorum illo tenetur quidem, reiciendis perferendis dolorem laboriosam ad earum, saepe dolore aspernatur totam eaque,
        cumque facere quis ipsa
        

        <br><br>
        E-Mail: keshavthakur.001@gmail.com</p>
    </div>
</div>


<%- include("./partials/footer") %>